
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-icon-search {
    background-image: url('icons/icon-search.svg');
}

.icon-icon-receipt {
    background-image: url('icons/icon-receipt.svg');
}

.icon-icon-payment {
    background-image: url('icons/icon-payment.svg');
}

.icon-icon-house {
    background-image: url('icons/icon-house.svg');
}

.icon-icon-bookmark-border {
    background-image: url('icons/icon-bookmark-border.svg');
}

.icon-icon-add-home {
    background-image: url('icons/icon-add-home.svg');
}

.icon-icon-external-link {
    background-image: url('icons/icon-external-link.svg');
}

.icon-icon-file-download {
    background-image: url('icons/icon-file-download.svg');
}

.icon-icon-arrow-forward {
    background-image: url('icons/icon-arrow-forward.svg');
}

.icon-icon-logout {
    background-image: url('icons/icon-logout.svg');
}

.icon-icon-chevron-left {
    background-image: url('icons/icon-chevron-left.svg');
}

.icon-icon-contact-support {
    background-image: url('icons/icon-contact-support.svg');
}

.icon-icon-chat-bubble {
    background-image: url('icons/icon-chat-bubble.svg');
}

.icon-icon-person-pin {
    background-image: url('icons/icon-person-pin.svg');
}

.icon-icon-keyboard-double-arrow-right {
    background-image: url('icons/icon-keyboard-double-arrow-right.svg');
}

.icon-icon-calendar-month {
    background-image: url('icons/icon-calendar-month.svg');
}

.icon-icon-keyboard-double-arrow-up {
    background-image: url('icons/icon-keyboard-double-arrow-up.svg');
}

.icon-icon-receipt-long {
    background-image: url('icons/icon-receipt-long.svg');
}

.icon-icon-chevron-right {
    background-image: url('icons/icon-chevron-right.svg');
}

.icon-icon-sync-alt {
    background-image: url('icons/icon-sync-alt.svg');
}

.icon-icon-question {
    background-image: url('icons/icon-question.svg');
}

.icon-icon-keyboard-double-arrow-left {
    background-image: url('icons/icon-keyboard-double-arrow-left.svg');
}

.icon-icon-sad-face {
    background-image: url('icons/icon-sad-face.svg');
}

.icon-icon-file-download-done {
    background-image: url('icons/icon-file-download-done.svg');
}

.icon-icon-link {
    background-image: url('icons/icon-link.svg');
}

.icon-icon-policy {
    background-image: url('icons/icon-policy.svg');
}

.icon-icon-drive-file-move {
    background-image: url('icons/icon-drive-file-move.svg');
}

.icon-icon-settings {
    background-image: url('icons/icon-settings.svg');
}

.icon-icon-shield-with-house {
    background-image: url('icons/icon-shield-with-house.svg');
}

.icon-icon-login {
    background-image: url('icons/icon-login.svg');
}

.icon-icon-credit-card {
    background-image: url('icons/icon-credit-card.svg');
}

.icon-icon-arrow-back {
    background-image: url('icons/icon-arrow-back.svg');
}

.icon-icon-arrow-upward {
    background-image: url('icons/icon-arrow-upward.svg');
}

.icon-icon-plus-add {
    background-image: url('icons/icon-plus-add.svg');
}

.icon-icon-newspaper {
    background-image: url('icons/icon-newspaper.svg');
}

.icon-icon-business-center {
    background-image: url('icons/icon-business-center.svg');
}

.icon-icon-check {
    background-image: url('icons/icon-check.svg');
}

.icon-icon-text-snippet {
    background-image: url('icons/icon-text-snippet.svg');
}

.icon-icon-cloud-download {
    background-image: url('icons/icon-cloud-download.svg');
}

.icon-icon-account-circle {
    background-image: url('icons/icon-account-circle.svg');
}

.icon-icon-arrow-downward {
    background-image: url('icons/icon-arrow-downward.svg');
}

.icon-icon-settings-1 {
    background-image: url('icons/icon-settings-1.svg');
}

.icon-icon-success-happy-face {
    background-image: url('icons/icon-success-happy-face.svg');
}

.icon-icon-news {
    background-image: url('icons/icon-news.svg');
}

.icon-icon-info {
    background-image: url('icons/icon-info.svg');
}

.icon-icon-close {
    background-image: url('icons/icon-close.svg');
}

.icon-icon-arrow-drop-down {
    background-image: url('icons/icon-arrow-drop-down.svg');
}

.icon-icon-favorite {
    background-image: url('icons/icon-favorite.svg');
}

.icon-icon-chevron-up {
    background-image: url('icons/icon-chevron-up.svg');
}

.icon-icon-mark-chat-unread {
    background-image: url('icons/icon-mark-chat-unread.svg');
}

.icon-icon-error-outline {
    background-image: url('icons/icon-error-outline.svg');
}

.icon-icon-keyboard-double-arrow-down {
    background-image: url('icons/icon-keyboard-double-arrow-down.svg');
}

.icon-icon-google {
    background-image: url('icons/icon-google.svg');
}

.icon-icon-more {
    background-image: url('icons/icon-more.svg');
}

.icon-icon-new-releases {
    background-image: url('icons/icon-new-releases.svg');
}

.icon-icon-return-enter-keyboard {
    background-image: url('icons/icon-return-enter-keyboard.svg');
}

.icon-icon-supervisor-account {
    background-image: url('icons/icon-supervisor-account.svg');
}

.icon-icon-edit {
    background-image: url('icons/icon-edit.svg');
}

.icon-icon-edit-document {
    background-image: url('icons/icon-edit-document.svg');
}

.icon-icon-analytics {
    background-image: url('icons/icon-analytics.svg');
}

.icon-icon-delete {
    background-image: url('icons/icon-delete.svg');
}

.icon-icon-sync {
    background-image: url('icons/icon-sync.svg');
}

.icon-icon-tickcircle {
    background-image: url('icons/icon-tickcircle.svg');
}

.icon-icon-info-outline {
    background-image: url('icons/icon-info-outline.svg');
}

.icon-icon-remove-red-eye {
    background-image: url('icons/icon-remove-red-eye.svg');
}

.icon-icon-autorenew {
    background-image: url('icons/icon-autorenew.svg');
}

.icon-icon-person-remove {
    background-image: url('icons/icon-person-remove.svg');
}

.icon-icon-filter {
    background-image: url('icons/icon-filter.svg');
}

.icon-icon-payments {
    background-image: url('icons/icon-payments.svg');
}

.icon-icon-content-copy {
    background-image: url('icons/icon-content-copy.svg');
}

.icon-icon-error {
    background-image: url('icons/icon-error.svg');
}

.icon-icon-bookmark {
    background-image: url('icons/icon-bookmark.svg');
}

.icon-icon-arrow-outward {
    background-image: url('icons/icon-arrow-outward.svg');
}

.icon-icon-arrow-drop-up {
    background-image: url('icons/icon-arrow-drop-up.svg');
}

.icon-icon-folder {
    background-image: url('icons/icon-folder.svg');
}

.icon-icon-sim-card-download {
    background-image: url('icons/icon-sim-card-download.svg');
}

.icon-icon-favorite-border {
    background-image: url('icons/icon-favorite-border.svg');
}

.icon-icon-chevron-down {
    background-image: url('icons/icon-chevron-down.svg');
}

.icon-icon-placeholder {
    background-image: url('icons/icon-placeholder.svg');
}
